@charset "utf-8";
/* CSS Document */

/* set the spacing between thumbnails */

.prettyGalleryThumb{
      float:left;
      margin:5px;
      border:1px solid #000;
    }
    
/* set the border of the thumbnail hovered on */	
.prettyGalleryThumb:hover{
      float:left;
      margin:5px;
      border:1px solid orange;
    }
