*{
	margin:0;
}

html {
    position: relative;
    min-height: 100%;
   background-color: #D9EAEF;
}
body {
    margin: 0 0 130px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 130px;
    width: 100%;
    background-color: #444444;
}


a {
	text-decoration: none;
}

@font-face {
font-family: "euro-bold-oblique";
src: url(' http://arcomtm.com/fuentes/euro/EurostileLTStd-BoldOblique.otf') format("opentype");
}

@font-face {
font-family: "euro-bold";
src: url(' http://arcomtm.com/fuentes/euro/EurostileLTStd-Bold.otf') format("opentype");
}

.michroma{
	font-family: 'Michroma', sans-serif;
	font-size: 16px;
	color: #ed6300;

}
.trebuchet{
	font-family:Trebuchet, Tahoma;
	width: 200px;
	color:#606e6e;
	font-size: 13px;
	padding: 5px 0px 0px 0px;
	margin-right: 35px;
}


.mayusculas{
	text-transform: uppercase;
}

.centrado{
	width: 950px;
	margin: 0px auto;

}

.derecha{
	float:right;
}


#contenidos{
	width: 950px;
	margin: 0px auto;
	min-height:600px;
}

#contenidos .izquierda{
	float:left;
	width:625px;
	padding-bottom:155px;
}

#contenidos .derecha{
	float:left;
	width:325px;
}

#contenidos .titulo{
	font-family: "euro-bold", sans-serif;
	color:#474747;
	font-size:30px;
	height: 60px;
	margin-top: 30px;
	margin-left: 30px;
}

#contenidos .texto{
	margin-left: 90px;
	margin-right: 110px;
	margin-bottom: 30px;
	font-family: Trebuchet, Tahoma;
	color: #606e6e;
	font-size: 12px;	
}

#contenidos .menu{
	margin-left: 50px;
	font-family: Trebuchet, Tahoma;
	color: #606e6e;
	font-size: 12px;	
}
